@media (max-width: 768px) {
    html{font-size: 12px;}
}

@media (min-width: 769px) {
    html{font-size: 20px;}
}

body{
    font-family: 'Roboto-Mono', monospace;
    font-weight: 400;
    color: 	#e1e1e1;
    background-color: #121212;
}

hr{
    background-color: 	#e1e1e1;
}

a:link{
    color: #e1e1e1;
}

a:visited{
    color: #e1e1e1;
}

a:hover{
    text-decoration: none;
    color: #A9A9A9;
}

a:active{
    text-decoration: none;
    color: #808080;
}

.tag{
    font-size: 1.25rem;
}

.link_icon{
    font-size: 2rem;
}

#name{
    font-size: 2.5rem;
}

#profilepic{
    max-width: 9rem;
    max-height: auto;
    border: 0.25rem solid #a62700; /*#ff0266 #a62700*/
}