body{
    font-family: 'Roboto-Mono', monospace;
    font-weight: 400;
}

.tag{
    font-size: 1rem;
}

#name{
    font-size: 2.5rem;
    /*font-weight: 700;*/
}

#name2{
    font-size: 50px;
    font-weight: 700;
}

#profilepic{
    max-width: 160px;
    max-height: auto;
}